* { margin: 0; padding: 0; }

/*Index*/

.body{
    background-image: url(../images/fotoIndex2.jpg);
    display: block;
    height: 100%;
    width: 100%;
}

.mainindex{
    display: flex;
    font-size: large;
    margin: 0px;
    font-family: cursive;
    color: turquoise;
}
.reseña{
    display: flex;
    padding: 100px;
}
.footer{
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: larger;
    font-style: normal;
    text-decoration: none;
    display: flex;
    background-color: #0dcaf0 ;
    margin-top: 180px;
}
.redes{
    align-items: center;
    text-decoration: none;
}

/*Contactanos*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

body {
    background-image: url(../imagenes/fondoindex.png);
}



.contact_form {
    width: 460px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #fbfbfb;
    opacity: 0.8;
    padding-left: 30px;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
}

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}

button p {
    color: #fff;
}

span {
    color: grey;
}

.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: dodgerblue;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}

p {
    font-size: 14px;
    color: #0e0e0e;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}